{% extends "base.html" %}

{% block content %}
<h2>Створити групу</h2>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_users" class="form-label">Учасники</label>
        {{ form.users }}
    </div>
    <div class="mb-3">
        <label for="id_title" class="form-label">Назва групи</label>
        {{ form.title }}
    </div>
    <button type="submit">Створити групу</button>
</form>

{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}