{% extends 'base.html' %}

{% block content %}

<div class="container" style="color: black; text-align: center;">
    <div class="me-auto" style="margin-top: 50px;">
        <h1>Журнал</h1>
        <table class="table table-bordered" style="width: 60% ; margin-top: 40px;">
            <thead>
                <tr>
                    <th>Ім'я студента</th>
                    <th>Оцінка</th>
                    <th>Оцінка за домашнє завдання</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for journal_student in journal_students %}
                <tr>
                    <td>{{ journal_student.student_user }}</td>
                    <td>{{ journal_student.grade }}</td>
                    <td>{{ journal_student.homework_grade }}</td>
                    <td>{{ journal_student.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container" style="margin-left: 400px; max-width: 40%;">
            {% for lesson in lessons %}
                <div class="lesson">
                    <h2>{{ lesson.topic }}</h2>
                    <p>{{ lesson.date }}</p>
                    <p>{{ lesson.homework }}</p>
                </div>
            {% endfor %}
        </div>
        

    </div>
</div>

{% endblock %}