<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">LogikaPortal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Повідомлення</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Журнал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallery_list' %}">Галерея</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar' %}">Календар</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'surveys:survey_list' %}">Опитування</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'announcements_list' %}">Оголошення</a></li>
                    <li class="nav-item dropdown ms-auto">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Профіль
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                             <li><a class="dropdown-item" href="{% url 'admin:index' %}">Адміністратор</a></li>
                            {% if user.is_authenticated %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Вийти</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Увійти</a></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Зареєструватися</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>