{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-danger">
        <div class="card-header bg-danger text-white text-center">
            <h3>Видалення опитування</h3>
        </div>
        <div class="card-body text-center">
            <p class="fs-5">Ви впевнені, що хочете видалити опитування
                <strong>"{{ object.question }}"</strong>?
            </p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Так, видалити</button>
                <a href="{% url 'voting:poll_list' %}" class="btn btn-secondary">Скасувати</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
