{% extends 'base.html' %}

{% block content %}
{% load static %}
    <style>
      html{
        overflow-x: hidden;
      }
      @keyframes fadeInOut {
        0%, 100% { opacity: 0; }
        50% { opacity: 1; }
      }

      .tvbackground{
        position: fixed;
        bottom: 8rem;
        left: 2cm;
        background-image: url("{% static 'img\nonepageintv.jpg' %}");
        z-index: 1;
        height: 2cm;
        width: 3cm;
        color: white;
        padding: 15px 25px;
        opacity: 0;
        transition: opacity 0.5s;
        transform: rotate(-15deg);
        animation: fadeInOut linear both;
        animation-timeline: scroll(root);
        animation-range: 10% 70%; /* коли показуватиметься — відсотки висоти сторінки */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: none;
      }

      .nonepageintv{
        position: fixed;
        background-image: url("{% static 'img\tv.png' %}");
        z-index: 2;
        right: -1.6rem;
        top: -2.2rem;
        height: 4cm;
        width: 4cm;
        color: white;
        border-radius: 10px;
        opacity: 2;
        transition: opacity 0.5s;
        
        animation: fadeInOut linear both;
        animation-timeline: scroll(root);
        animation-range: 10% 70%; /* коли показуватиметься — відсотки висоти сторінки */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .hover-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("{% static 'img\what.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: 1;
      }
      .tvbackground.visible {
          transform: translate(-50%, 0); /* з’являється */
          opacity: 1;
          z-index: 1;
          
        }



      .nonepageintv.visible {
          transform: translate(-50%, 0); /* з’являється */
          opacity: 1;
          z-index: 0;
        }



      .tvbackground:hover .hover-bg {
  opacity: 1;
  z-index: 1;
}




      .text-center{
        color: rgb(255, 255, 255);
      }
      /* Кнопки та час*/
      .btns {
        background-color: rgba(15, 15, 15, 0.849);
      }

      .btns:hover{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("{% static 'img\btnfonhov.jpg' %}");
        backdrop-filter: blur(10px);
        transition:  1s ease;
      }
      
      .btndel {
        background-color: rgba(15, 15, 15, 0.849);
      }

      .btndel:hover{
        background-color: rgba(128, 13, 13, 0.918);
        transition:  1s ease;
      }
      .createpost{
        position: relative;
        top: -3.4rem;
        margin-left: 5cm;
        font-size: 3rch;
      }

      .updatepost{
        position: relative; 
        top: -1.15rem; 
        left: 10rem;
      }

      .addcoment{
        position: relative;
        top: -3.55rem;

      }
      
      .created_at{
        position: relative;
        top: -4.9rem;
        left: 46rem;
        font-size: 2.1rch;
        user-select: none;
      /* Пости */
      }
    .teg{
      position: sticky !important;
      top: 0;
      z-index: 1;
      height: 2.3cm;
      user-select: none;
      
    }
    .adminpost{
      position: relative !important;
      width: 69.9rem;
      height: 5rem;
      top: 1.5rem;
      left: 0.4rem;
      margin-left: 2cm;
    } 


    .card-header{
      position: relative;
      height: 2.2rem;
    }

    /* значення в постах */

    .c-t-post{
      position: relative !important;
      padding-left: 3%;
      font-size: 3ch;
      user-select: none;
    }

    .aut-post{
      position: relative !important;
      padding-left: 3%;
      font-size: 2ch;
      top: -0.3rem;
      user-select: none;
    }
    /* коментарі */

    .description{
      position: relative !important;
      left: 3rem;
      padding: 0.2%;
      font-size: 4.5ch;
    }

    /* відповіді */

    .pushtext{
      position: relative;
      top: -0.4rem;
      left: -0.5rem;
      height: 2rem;
    }

    .answbtn{
      position: relative;
      top: 6.1rem;
      left: 4rem;
      height: 2.44rem;
    }

    .answbtn1{
      height: 2.4rem;
    }

    .background{
      position: fixed !important;
      top: 0;
      z-index: -1;
      left:0;
      width: 100vw;
      height: 100vh;
      background-image: url("{% static 'img\dark_background_sub.jpg' %}") !important;
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      padding-bottom: -10cm !important;
    }

    .aut-com{
      user-select: none;
    }
    .name-com{
      user-select: none;
    }

    </style>
    <button class="tvbackground">
      <a href="{% url 'hiworldp' %}" class="a">
      <div class="nonepageintv"></div>
      <div class="hover-bg"></div>
      </a>
    </button>
    <div class="background">
  <div class="body2"></div>
</div>
 
<div class="container-fluid">
  <div class="alert alert-light teg" role="alert">
    <div>
      <h1 class="menu">Форум</h1>
    </div>
    {% if user.is_superuser %}
      <div class="adminaddpost">
        <a href="{% url 'crform' %}">
          <button type="submit" class="form_submit createpost btn btn-secondary btns">
            Створити пост
          </button>
        </a>
      </div>
    {% endif %}
  </div>

 

  {% for subred in subredits %}
    <div class="card" style="width: 70rem;">
      {% if subred.image %}
        <img src="{{ subred.image.url }}" class="card-img-top" alt="...">
      {% endif %}

      <div class="card-body">
        <div class="card-header">
          <div class="admindelpost">
            <a href="{% url 'updform' subred.id %}">
              <button type="submit" class="form_submit updatepost btn btn-secondary btns">
                Оновити пост
              </button>
            </a>
          </div>

          <div class="admindelpost">
            <a href="{% url 'addcom' subred.id %}">
              <button type="submit" class="form_submit addcoment btn btn-secondary btns">
                Додати коментар
              </button>
            </a>
          </div>

          <div class="created_at">
            дата створення: {{ subred.created_at }}
          </div>
        </div>
      </div>

      <h5 class="card-title c-t-post">{{ subred.name }}</h5>
      <h6 class="authorpost aut-post">{{ subred.author }}</h6>
      <p class="card-text description">{{ subred.description }}</p>

      {% for s_com in subred.comments.all %}
        <div class="card" style="left: 3rem;">
          <div class="card-header">
            <div class="nameus">{{ s_com.username }}</div>
            <a href="{% url 'addanswer' s_com.id %}" class="answbtn">
              <button type="submit" class="form_submit pushtext btn btn-secondary btns answbtn1">
                Відповісти
              </button>
            </a>
          </div>

          <div class="card-body">
            <h5 class="card-title name-com">{{ s_com.name }}</h5>
            <p class="card-text ">{{ s_com.description }}</p>

            <form action="{% url 'dlcom' s_com.id %}" method="post">
              {% csrf_token %}
              <div class="admindelpost">
                <button type="submit" class="form_submit btn btn-secondary btndel">
                  
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 
                      2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 
                      1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 
                      1 0 0 0-1 1z" />
                  </svg>
                </button>
              </div>
            </form>

            {% for ans_com in s_com.answers.all %}
              <div class="card" style="left: 2rem; width: 45rem;">
                <div class="card-header aut-com">
                  {{ ans_com.username }}
                </div>
                <div class="card-body">
                  <p class="card-text">{{ ans_com.description }}</p>
                </div>
                <form action="{% url 'delanswer' ans_com.id %}" method="post">
                  {% csrf_token %}
                  <div class="admindelpost">
                    <button type="submit" class="form_submit btn btn-secondary btndel m-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-trash-fill"
                        viewBox="0 0 16 16">
                        <path
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 
                          1 0 0 0 1 1H3v9a2 2 0 0 0 
                          2 2h6a2 2 0 0 0 2-2V4h.5a1 
                          1 0 0 0 1-1V2a1 1 0 0 0-1-
                          1H10a1 1 0 0 0-1-1H7a1 1 0 
                          0 0-1 1z" />
                      </svg>
                    </button>
                  </div>
                </form>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% endblock content %}
