{% extends 'base.html' %}

{% block content %}
{% load static %}
    <style>
    body{
            background-image: url("{% static 'img\background2.png' %}");
            background-size: 100%
        }

        .title_{
            position: absolute;
            left: 52rem;
            top: 12vw;
            height: 14cm;
            z-index: 1;
            user-select: none;
        }

        .text-center{
            position: relative;
            top: 5cm;
            font-size: 3rem;
            left: -4rem;
            color: azure;
            user-select: none;
        }

        .formbackground{
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            top: 10vw;
            height: 16cm;
            width: 12cm;
            left: 37.5vh;
            backdrop-filter: blur(10px);
            background-color: rgba(179, 179, 179, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 1cm;
        }

        .formm{
            position: relative;
            color: black;
            font-size: 18px;
            top: 4rem;
        }
        .btnrecord{
            background-color: rgba(27, 23, 23, 0.678);
            transition:  1s ease-in-out;
       
    }

        .btnrecord:hover{
            background-image: url("{% static 'img\record.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition:  1s ease-in-out;
            color: rgb(216, 107, 134);
            font-weight: 900;
            font-size: 20px;
        }
        
        </style>
    <h1 class="title_">Зміни</h1>
    
    <form method="post" enctype="multipart/form-data" class="formbackground">
        <div class="formm">
        {% csrf_token %}
        {{form.as_div}}
        
        <button type="submit" class="btn btn-secondary mt-2 btnrecord">
            Внести зміни
        </button>

    </form>

    <form method="post" action="{% url 'delform' subredits.0.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mt-2">

        <i class="bi bi-trash"></i> Видалити допис

    </button>
    
    </form>

{% endblock content %}